/*

Template 2082 Pure Mix

http://www.tooplate.com/view/2082-pure-mix

*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Body 
------------------------------------- */
body {
		background: #ffffff;
    color: rgb(62, 64, 67);
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    position: relative;
}

#index-bgcolor {
  background-color: #FFFBF5;
}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}


/* Typography
------------------------------------- */
h1,h2,h3,h4,h5 {
  font-weight: 800;
  letter-spacing: 0.06rem;
}

h1 {
  font-size: 3.052rem;
  letter-spacing: 0.2rem;
  line-height: 50px;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
} 

p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 28px;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 400;
}

a {
  outline: none;
  text-decoration: none;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

img {
  width: 100%;
  max-width: 100%;
}

img.animated-gif{
  margin-left: 50px;
  width: 360px;
  height: auto;
}

/* Custom Typography
------------------------------------- */
.h1-title{
  font-size: 3.052rem;
}
.h2-problem{
  font-family: 'Inter', sans-serif;
  color: #909090;
  font-size: 2.441rem;
  line-height: 3.5rem;
  font-weight: 400;
  word-spacing: 1px;
  letter-spacing: 0.06rem;
}

.color-fitbuddy {
  color: #7C92FF;
}

.color-savebites {
  color:#45ADA1;
}

.color-thirsty {
  color: #1A90B1;
}

.color-nightlight {
  color: #7D5CD2;
}

.color-foodfilled {
  color: #FBB040;
}

/* preloader styles
/* ========================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #111112;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

/* Scroll to top button
/* ========================================== */
#back2Top {
  width: 80px;
  line-height: 80px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow:
   0px 3px 10px 0 rgb(62, 64, 67, 0.2),
   0px 6px 20px 0 rgb(62, 64, 67, 0.2);
  color: rgb(62, 64, 67);
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

#back2Top:hover {
  border-color: transparent;
  color: #7FB3C5;
}

.specialbg {
  background-color: #FFFBF5;
}

@media all and (max-width: 640px){
  #back2Top {
    width: 50px;
    line-height: 50px;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
  }
}

/* hover underline animation
/* ========================================== */
/* Code source: https://www.30secondsofcode.org/css/s/hover-underline-animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #7FB3C5;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7FB3C5;
  transform-origin: bottom right;
  -webkit-transition: transform 0.25s ease-out;
  -moz-transition: transform 0.25s ease-out;
  -ms-transition: transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* navigation styles
/* ========================================== */
.nav-container,
nav {
  overflow: visible;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

nav {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

nav a {
  color: rgb(62, 64, 67);
}

.navbar {
  position: absolute;
  top: 0.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  height: 94px;
  max-height: 94px;
  border-radius: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.brand {
  float: left;
  padding: 30px 0 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.brand a {
  color: rgb(62, 64, 67);;
  font-size: 24px;
  font-weight: 300;
  opacity: 1;
  text-decoration: none;
}

.brand a:hover {
  color:#7FB3C5;
}

.sections {
  position: relative;
  right: 0;
  float: right;
  padding: 30px 0 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.secmenu {
  float: left;
  left: 0;
  margin: 0 20px 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.secmenu a {
  color: rgb(62, 64, 67);
  font-size: 18px;
  font-weight: 300;
  opacity: 1;
  text-decoration: none;
}

.navicon {  
  position: relative;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 20px 0 0;
}

nav ul {
  display: inline-block;
}

nav ul.right {
  float: right;
  right: 0
}

#nav-menu a {
  font-weight: 300;
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

#nav-menu li {
  list-style: none;
  padding: 6px;
}

.nav-text-light a {
  color: #ffffff;
}

.sticky .nav-text-light a {
  color: #555555;
}

.sticky nav.nav-inner .navbar {
  height: 70px;
  max-height: 70px;
  margin: 0;
  background: #ffffff;
}

.sticky nav.transparent .navbar {
  background: transparent;
}

@media all and (max-width: 990px) {
  .nav-text-light a {
    color: #555555;
  }
  .nav-inner {
    background: #ffffff;
  }
  .transparent {
    background: transparent;
  }
  .navicon {
    padding-right: 10px;
    display:flex;
  }
  nav ul.right {
  float: left;
  }
  .sections{
    display: none;
  }
}

a.icon {
  font-size: 32px;
  padding-right: 20px;
}

.intro-inner {  
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.close {
  font-family: inherit;
  font-size: 32px;
  font-weight: 300;
  text-shadow: none;
}
.close:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.circle {
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 50%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
  z-index: 99;
  padding: 4px 0 0;
}

.circle i {
  font-size: 36px;
  color: rgb(62, 64, 67);
}

.circle.dark {
  border-color: rgb(62, 64, 67);
}

.circle.dark:before {
  border-color: transparent transparent transparent rgb(62, 64, 67);
}

.circle.large {
  height: 120px;
  width: 120px;
  margin-top: -60px;
  margin-left: -60px;
}

.circle.large:before {
  margin-top: -18px;
  margin-left: -10px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 31.0px;
  border-color: transparent transparent transparent #ffffff;
}

.circle.large.dark:before {
  border-color: transparent transparent transparent rgb(62, 64, 67);
}

.circle.inline {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  z-index: 0;
}

@media all and (max-width: 767px) {
  .navbar {
    left: 0;
    transform: translate(0, -50%);
    min-width: 100%;
  }

  .circle.large {
    width: 90px;
    height: 90px;
    margin-top: -45px;
  }
  .circle.large:before {
    margin-top: -14px;
    margin-left: -8px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25.0px;
    border-color: transparent transparent transparent #fff;
  }
}

.list-menu {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: rgba(62, 64, 67, 0.97);
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  opacity: 0;
  z-index: -1;
}

.list-menu.reveal-modal {
  opacity: 1;
  z-index: 999999;
  visibility: visible;
}

.list-menu .ion-close-round {
  font-size: 31px;
  position: absolute;
  top: 32px;
  right: 32px;
  color: #fff;
  cursor: pointer;
}

/* Custom navigation bar
/* ========================================== */
.navabout{
  top: 3.35%;
}

.navblog{
  top: 2.05%;
}

.navcontact{
  top: 5.5%;
}

.navlight{
  top: 1%;
}

.navthirsty{
  top: 0.7%;
}

/* header section styles
/* ========================================== */
#mainheader {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 50px;
}

#header {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: left;
  padding-top: 130px;
  padding-bottom: 100px;
}

#header .header-thumb {
  background: transparent;
  padding: 62px 20px 0px 20px;
}

.header-main .header-thumb {
  padding: 180px 0px 0px 0px !important;
}
.header-FitBuddy .header-thumb,
.header-Thirsty .header-thumb,
.header-nightlights .header-thumb,
.header-foodfilled .header-thumb,
.header-about .header-thumb {
  padding: 0px 0px 0px 0px !important;
}

.header-main, .header-FitBuddy,
.header-Thirsty, .header-nightlights,
.header-foodfilled, .header-about {
  height: 60vh !important;
  min-height: 840px;
  padding-top: 160px !important;
}

.header-main {
  height: 60vh !important;
  min-height: 850px;
  padding-top: 240px !important;
}
.header-FitBuddy {
  background-color: #7C92FF;
}

.header-SaveBites {
  background-color:#BDECE5;
}

.header-Thirsty {
  background-color: #B6E6F3;
}
.header-nightlights {
  background: url('../images/nightlights/banner.png') no-repeat;
}
.header-foodfilled {
  background-color: #FFC063;
}
.header-about {
  background: url('../images/Thirsty/bram-naus-oqnVnI5ixHg-unsplash.jpg') no-repeat;
}


/* single project section styles
/* ========================================== */
#single-project {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#single-project .project-info {
  padding-bottom: 10px;
}

#single-project img {
  padding-top: 14px;
}

/* about section styles
/* ========================================== */
#about {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

#about .col-md-4 {
  padding-bottom: 32px;
}

#about img {
  padding-bottom: 20px;
}

#about blockquote {
  letter-spacing: 2px;
  margin-top: 20px;
}

.skills {
  padding-top: 5px;
  padding-bottom: 5px;
}

.skilltext {
  margin-top: -5px;
  font-size: 0.96rem;
}

/* blog & single post section styles
/* ========================================== */
#blog, 
#single-post {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#blog .blog-thumb {
  padding-top: 60px;
  padding-bottom: 40px;
}

#blog .post-format,
#single-post .post-format {
  padding-bottom: 10px;
  margin-top: 22px;
  margin-bottom: 20px;
}

#blog .post-format span,
#single-post .post-format span {
  color: rgb(62, 64, 67);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 8px 17px;
  margin-right: 2px;
  margin-left: 2px;
  background-color: #eee;
}

#blog .blog-thumb .btn {
  border-radius: 0px;
  padding: 10px 32px;
  background: #FFFBF5;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 22px;
  transition: all 0.4s ease-in-out;
}
#blog .blog-thumb .btn:hover {
  background: #7FB3C5;
  border-color: transparent;
  color: #FFFBF5;
}

#single-post blockquote {
  margin-top: 32px;
  letter-spacing: 2px;
}

.post-image {
	margin: 25px 0px;
}

#single-post .blog-comment,
#single-post .blog-comment-form {
  margin-top: 100px;
  margin-bottom: 100px;
}

#single-post .blog-comment h3,
#single-post .blog-comment-form h3 {
  padding-bottom: 20px;
}

#single-post .blog-comment .media {
  padding-bottom: 20px;
}

#single-post .blog-comment .media img {
  padding-right: 46px;
}

#single-post .blog-comment-form .form-control {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#single-post .blog-comment-form input[type="submit"] {
  background: rgb(62, 64, 67);
  border-color: transparent;
  color: #ffffff;
  height: 50px;
}

/* contact section styles
/* ========================================== */

#contact {
  padding-top: 5rem;
  padding-bottom: 0rem;
}

#contact .fa {
  font-size: 32px;
  padding-right: 10px;
}

#contact #map-canvas  {
  border: none;
  width: 100%;
  height: 300px;
  margin-top: 40px;
}

#contact .contact-form {
  padding-top: 14px;
  padding-top: 5px;
}

#contact .form-control {
  background: transparent;
  border: 1px solid #909090;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #cfe2e9;
}

#contact textarea {min-height: 100px;}

#contact input {height: 50px;}

#contact input[type='submit'] {
  background: rgb(62, 62, 62);
  /* border-color: #7FB3C5; */
  color: #FFFBF5;
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

#contact input[type='submit']:hover {
  background: #7FB3C5;
}

.contact-submit {
	width: 50%;
}

#contact .col-md-4 {
  background: #fff;
  padding: 62px 0px 32px 42px;
  position: relative;
  bottom: -50px;
}

/* footer section styles
/* ========================================== */
footer {
  background: rgb(62, 62, 62);
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

p.footer{
  color:#909090;
}


/* social icon */
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  border-radius: 100px;
  border: 1px solid transparent;
  color: #909090;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  margin-top: 14px;
  margin-right: 8px;
  margin-left: 8px;
  position: relative;
  top: 0px;
}
.social-icon li a:hover {
  background: #ffffff;
  color: #7FB3C5;
}

/* Modal image
/* ========================================== */
/* .modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
} */

/* Responsive Mobile styles
/* ========================================== */
@media (max-width: 1249px) {
  .navabout{
    top: 3.1%;
  }

  .navcontact{
    top: 5.4%;
  }
}


@media (max-width: 991px) {

  .intro-inner {top: 30%;}

  .navblog{
    top: 1.15%;
  }

  .navabout{
    top: 2.65%;
  }

  #contact .col-md-4 {
    padding: 62px 20px 42px 32px;
  }

  #contact .col-md-4 p {
    font-size: 12px;
  }

  #contact #map-canvas {
    margin-bottom: 60px;
  }

  h1{
    font-size: 40px;
    line-height: 55px;
  }

  .h1-title {
    font-size: 40px;
    line-height: 55px;
    text-align: left;
  }

  h2 {
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 1px;
  }
  
  h3 {
    font-size: 28px;
  }
  
  h4 {
    font-size: 22.5px;
  }
  
  h5 {
    font-size: 1rem;
  }

  #blog .post-format span{
    font-size: 12px;
  }

  #blog .blog-thumb .btn {
    margin-top: 10px;
  }

  .header-main {
    min-height: 500px;
	  padding-top: 100px !important;
  }

  .header-FitBuddy,
  .header-Thirsty, .header-nightlights,
  .header-foodfilled, .header-about {
    min-height: 1290px;
	  padding-top: 180px !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  }

}


@media (max-width: 767px) {

  .brand {
    padding-left: 24px;
  }

  .navblog{
    top: 1.15%;
  }

  .navabout{
    top: 1.95%;
  }

  .navcontact{
    top: 5%;
  }

  h1 , .h1-title, h2, .h2-problem{
    font-size: 2.25rem;
    line-height: 48px;
  }

  h3 {
    font-size: 1.79rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  p{
    font-size: 16px;
    line-height: 24px;
  }

  .header-main {
    min-height: 500px;
	  padding-top: 100px !important;
  }

  .header-FitBuddy, .header-Thirsty,
  .header-foodfilled, .header-about {
    min-height: 1350px;
	  padding-top: 180px !important;
  }

  .header-nightlights {
    min-height: 760px;
	  padding-top: 180px !important;
  }

  #about .col-md-4,
  #single-project .col-md-3 {
    padding-bottom: 32px;
  }

  .navprofolio{
    top: 1.25%;
  }

}


@media (max-width: 700px) {
  .navblog{
    top: 1.2%;
  }
}


@media (max-width: 600px){
  .navblog{
    top: 1.25%;
  }
}
  

@media (max-width: 479px){
  .navblog{
    top: 1.3%;
  }

  .navabout{
    top: 1.5%;
  }

  p{
    font-size: 14px;
    line-height: 21px;
  }
  
  h1 {
    font-size: 36px;
    line-height: 40px;
  }

  h2, .h2-problem {
    font-size: 1.953rem;
    line-height: 40px;
  }

  h3 {
    font-size: 1.563rem;
    line-height: 34px;
  }

  h4{
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  
  #blog .blog-thumb .btn {
    font-size: 12px;
    padding: 8px 20px;
    letter-spacing: 1px;
    margin-top: 10px;
  }

  #blog .post-format span {
    font-size: 12px;
  }

  .filter-wrapper {
    padding: 0px;
  }

  #contact {
    padding-bottom: 4rem;
  }

  #contact .col-md-4 {
    padding: 32px 20px 22px 62px;
  }

  .contact-submit {
	width: 70%;
  }

  .header-main, .header-about {
  min-height: 500px;
	padding-top: 80px !important;
  }

  .header-FitBuddy,
  .header-Thirsty, .header-foodfilled {
  min-height: 1000px;
	padding-top: 160px !important;
  }

  .header-nightlights {
  min-height: 660px;
	padding-top: 160px !important;
  }
}


@media (max-width: 450px) {
  .intro-inner {top: 50%;}
}